<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/CSS/layout.css" rel="stylesheet" />
    <link href="~/CSS/main.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <a href="~/Home/Index">
            <div class="navbar-item">
                <h2>Home</h2>
            </div>
        </a>

        <a href="~/Home/Organizations">
            <div class="navbar-item">
                <h2>Organizations</h2>
            </div>
        </a>
    </div>

    <div class="container">
        @RenderBody()
        <hr />

    </div>
    @*<div class="footer">
        <div class="footer-item">
            <p>&copy; @DateTime.Now.Year - Organizations</p>
        </div>

        <div class="footer-item">
            <p>Website developed by: <a href="https://github.com/Mountain-Dev">Mountain Dev.</a></p>
        </div>
    </div>*@
</body>
</html>