<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/CSS/layout.css" rel="stylesheet" />
    <link href="~/CSS/main.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="navbar-item">
            <h2><a href="~/Home/Index">Home</a></h2>
        </div>

        <div class="navbar-item">
            <h2><a href="~/Home/Organizations">Organizations</a></h2>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>