.navbar {
    width: calc(100vw - 40px); 
    overflow: auto;
    background-color: #ecf0f1;
    
}

.navbar-item {
    width: calc(50vw - 80px);
    float: left;
    text-align: center;
}
.navbar-item:hover {
    color: #7f8c8d; 
}

.container {
    width: 90vw;
    margin: 20px 5vw;
}

hr {
    margin: 20px 0;
}
