.navbar {
    width: 100vw; 
    overflow: auto;
    background-color: #ecf0f1;
}

.navbar-item {
    width: calc(50vw - 41px);
    padding: 20px;
    float: left;
    text-align: center;
}
.navbar-item:first-child {
    border-right: solid 1px #7f8c8d;
}
.navbar-item:nth-child(2) {
    border-left: solid 1px #7f8c8d;
}

.navbar-item a {
    color: #000;
}

.navbar-item a:hover {
    color: #7f8c8d 
}
