@{
    ViewBag.Title = "Home";
}
@section stylesheet
    {
    <link rel="stylesheet" href="~/CSS/index.css" />
}

<div class="jumbotron">
    <h1>
        Members and Organizations
    </h1>
    <hr />
    <p>This is a website that you can use to register organizations, and add members to them.</p>
</div>

