@model System.Collections.ArrayList
@{
    ViewBag.Title = "Home";
    List<organization> orgList = (List<organization>)Model[0];
    List<person> personList = (List<person>)Model[1];
    List<connection> connectionList = (List<connection>)Model[2];
}
@section stylesheet
    {
    <link rel="stylesheet" href="~/CSS/index.css" />
}

<div class="jumbotron">
    <h1>
        Members and Organizations
    </h1>
    <hr />
    <p>This is a website that you can use to register organizations and members to them.</p>
</div>

