@{
    ViewBag.Title = "Home Page";
}

<div class="container-side">
    <h1>Organizations:</h1>
    <hr />
    <div id="oraganization-list">
    </div>
</div>

<div class="container-side">
    <h1>
        Create
        <br />
        organization:
    </h1>
    <hr />


</div>