@model System.Collections.ArrayList
@{
    ViewBag.Title = "Home Page";
    
}

@section stylesheet {
    <link rel="stylesheet" href="~/CSS/index.css" />
    }

<div class="container-side">
    <h1>Organizations:</h1>
    <hr />
    <div id="oraganization-list">
        <ul>

            @foreach (var item in ((List<organization>)Model[0]))
            {
                organization org = (organization)item;
                <li>@org.organization_name</li>
            }

            
        </ul>
    </div>
</div>

<div class="container-side" id="makeOrg">
    <h1>
        Create
        <br />
        Organization:
    </h1>
    <hr />
    <h2>Organization Name:</h2>
    <br />
    <form action="#" id="orgForm">
        <input type="text" name="orgName" />
        <br />
        <br />
        <h2>About this organization:</h2>
        <br />
        <textarea name="comment" form="orgForm" rows="6" cols="50"></textarea>
        <br />
        <br />
        <input type="submit" value="submit" />
    
    </form>
        
    

</div>