@model System.Collections.ArrayList
@{
    ViewBag.Title = "Home Page";

}

@section stylesheet
    {
    <link rel="stylesheet" href="~/CSS/index.css" />
}

<div class="col-lg-8">
    <div class="jumbotron">
        <h2>Organizations</h2>
        <hr />
            <div class="list-group">
                <a><button type="button" class="list-group-item"></button></a>
                <a><button type="button" class="list-group-item"></button></a>
                <a><button type="button" class="list-group-item"></button></a>
                <a><button type="button" class="list-group-item"></button></a>
                <a><button type="button" class="list-group-item"></button></a>
            </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="jumbotron">
        <h2>
            Create
            <br />
            organization:
        </h2>
        <hr />
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="alert-org">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> Please enter a organization name to continue.
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name-input" placeholder="Organization name" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" class="btn btn-primary btn-lg btn-block login-button" onclick="alert">Register</button>
                    <script src="~/JS/register-org.js"></script>
                </div>
            </form>
        </div>
    </div>
</div>