@model System.Collections.ArrayList
@{
    ViewBag.Title = "Dev Index Page";
    List<organization> orgList = (List<organization>)Model[0];
    List<person> personList = (List<person>)Model[1];
    List<connection> connectionList = (List<connection>)Model[2];
}

<div class="container-side">
    <h1>Organizations:</h1>
    <hr />
    <div id="oraganization-list">
        <ul>
            @foreach (var item in ((List<organization>)Model[0]))
            {
                organization org = (organization)item;
                <li>@org.organization_name</li>           
            }
        </ul>
    </div>

    <h1>People list</h1>
    <div id="people-list">
        <ul>
            @foreach (var item in ((List<person>)Model[1]))
            {
                person pers = (person)item;
                <li>@string.Format("{0} {1}", pers.person_first_name, pers.person_last_name)</li>
            }

           @personList[0].person_first_name
        </ul>
    </div>
</div>
<div class="container-side">
    <h1>
        Create
        <br />
        organization:
    </h1>
    <hr />

</div>